{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block javascript %}
    <script>
        $('#add_more').click(function () {
            console.log('add form')
            cloneMore('div.table:last', 'columns');
        });

        function cloneMore(selector, type) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + type + '-TOTAL_FORMS').val();
            newElement.find(':input').each(function () {
                var name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                var newFor = $(this).attr('for').replace('-' + (total - 1) + '-', '-' + total + '-');
                $(this).attr('for', newFor);
            });
            total++;
            $('#id_' + type + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
        }
    </script>
{% endblock %}

{% block content %}
    <form method="post" action=".">
        <div class="row mx-auto mt-4">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h2>New schemas</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-outline-success"
                                type="submit">
                            Submit
                        </button>
                    </div>

                </div>


                {% csrf_token %}
                {{ form.as_p }}

                <hr>
                {{ formset.management_form }}
                <div id="form_set">
                    {% for form in formset %}
                        <div class='table'>
                            {{ form.as_table }}
                            <hr>
                        </div>

                    {% endfor %}
                </div>


                <button id="add_more" type="button" value="Add More" class="btn btn-info">Add</button>
            </div>
        </div>
    </form>
{% endblock %}
